    html {
        height: 100%;
    }
    
    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/Roboto-Regular.ttf');
    }
    
    body {
        font-family: 'Roboto', sans-serif;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#258dc8+0,263bf2+100 */
        background: #317185;
        /* Old browsers */
        background: -moz-linear-gradient(top, #317185 0%, #143A43 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #317185 0%, #143A43 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #317185 0%, #143A43 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#263bf2', GradientType=0);
        /* IE6-9 */
        min-height: 100%;
        overflow: hidden;
    }
    
    p,
    li,
    span,
    input {
        font-family: 'Roboto', sans-serif!important;
        letter-spacing: 0.05em;
    }
    
    canvas {
        border: 1px solid black;
        background-color: #FFF;
        width: 800px;
        height: 270px;
        font-family: 'Roboto'!important;
    }
    
    #validMessage {
        color: #FFF;
        font-size: 12px;
        text-align: center;
    }
    
    #content {
        margin: auto;
        width: 800px;
        margin-top: 10%;
        height: 100%;
    }
    
    .button {
        background-color: transparent;
        /* Green */
        border: 1px solid #FFF;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        margin: 10px;
    }
    
    #controls {
        width: 100%;
        margin: auto;
    }
    
    #buttons {
        text-align: center;
        margin: auto;
        width: 100%;
    }
    
    #infoContainer {
        color: #EEE;
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-size: 12px;
    }
    
    #buttons>input {
        display: inline;
    }
    
    input[type='text'] {
        height: 24px;
        background-color: transparent;
        border: 1px solid #FFF;
        margin-top: 5px;
        color: #FFF;
        width:800px;
    }
    
    a {
        color: #fff;
        text-align: center;
    }
    
    #info {
        width: 32px;
        height: 32px;
    }
    
    @media print {
        input {
            display: none!important;
        }
        span {
            display: none!important;
        }
        p {
            display: none!important;
        }
        a {
            display: none!important;
        }
        @page {
            size: landscape;
        }
    }
    /* Tooltip container */
    
    .tooltip {
        position: relative;
        display: inline-block;
        width: 750px;
        font-size: 16px;
    }
    /* Tooltip text */
    
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 100%;
        bottom: 100%;
        left: 80px;
        margin-left: -60px;
        /* Use half of the width (120/2 = 60), to center the tooltip */
        color: #fff;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
        line-height: 18px;
        font-size: 12px;
    }
    
    .infoTip:hover .tooltiptext {
        visibility: visible;
    }
    
    ul {
        list-style: circle;
    }
    
    li {
        margin-left: -20px;
    }
    
    #donations {
        font-size: 12px;
    }
    
    #infoTip {
        font-style: bold;
        cursor: pointer;
    }
    
     ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: white;
    }
    
     ::-moz-placeholder {
        /* Firefox 19+ */
        color: white;
    }
    
     :-ms-input-placeholder {
        /* IE 10+ */
        color: white;
    }
    
     :-moz-placeholder {
        /* Firefox 18- */
        color: white;
    }
    
    #download
    {
        position: absolute;
        margin: auto;
        width: 100%;
    }